body {
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 20px;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper .slider {
    cursor: pointer;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.card-deck {
    margin-top: 20px;
    margin-bottom: 20px;
}

.chart-container {
    position: relative;
    height: 400px;
    width: 100%;
    margin-bottom: 40px;
}

.download-buttons {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
}
