body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1, h3 {
    color: #343a40;
}

.table {
    margin-bottom: 40px;
}

.alert {
    margin-bottom: 20px;
}

canvas {
    margin: 20px 0;
}
